.cardKecil {
    margin-left: 40px;
    width: 250px;
    height: 102px;
    border: 1px solid red;
    border-radius: 15px;
    transition: transform 1s, background-color 1s, box-shadow 1.5s; /* Animation */
}

.cardKecilJudul {
    text-align: center;
    padding-top: 5px;
}

.cardKecilJumlahData {
    text-align: center;
    font-weight: 600;
    margin-top: -2px;
}

.cardKecil:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 20px grey;
}
