#choropletMaps-container {
    margin-left: -25px;
}

.charloteMaps-title {
    padding-top: 0.4rem;
    font-weight: 600;
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.charloteMaps-title-container {
    height: 40px;
    background-color: #394263;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
