.cardSedang {
    margin-left: 40px;
    /* width: 250px; */
    width: 350px;
    height: 102px;
    border: 1px solid red;
    border-radius: 15px;
    transition: transform 1s, background-color 1s, box-shadow 1.5s, font-weight 1s; /* Animation */
}

.cardSedang:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 20px grey;
    font-weight: 1000;
}

.cardSedangJudul {
    text-align: center;
    padding-top: 5px;
}

.cardSedangJumlahData {
    text-align: center;
    font-weight: 600;
    margin-top: -2px;
}
