.cardSedang {
    margin-left: 40px;
    /* width: 250px; */
    width: 350px;
    height: 102px;
    border: 1px solid red;
    border-radius: 15px;
    transition: transform 0.2s; /* Animation */
}

.cardSedang:hover {
    transform: scale(1.1);
}

.cardSedangJudul {
    text-align: center;
    padding-top: 5px;
}

.cardSedangJumlahData {
    text-align: center;
    font-weight: 600;
    margin-top: -2px;
}
